{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Student Information</h2>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Program</th>
                <th>Year</th>
                <th>Student Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>P2298152P</td>
                <td>Mbongeni Tumelo Ndimande</td>
                <td>Software Engineering</td>
                <td>3rd Year</td>
                <td>p2298152p@students.zou.ac.zw</td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}